@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Inner.cshtml";
}
<div class="inner-section">
    <div class="roundedTop">
        <img src="@Url.Content("~/Content/Images/roundtopLft.png")" alt="" class="fl" />
        <img src="@Url.Content("~/Content/Images/roundtopRght.png")" alt="" class="fr" />
    </div>
    <div class="roundedBg">
        <form action="UserLogin" method="post">
        <div class="divTable">
            <div class="divRow" style="width: 100%;">
                <div class="divCell" style="width: 100%; border-bottom: 1px solid #808076; margin-bottom: 10px;
                    padding-bottom: 10px;">
                    <div style="position: relative; top: 20px;">
                        <span class="header-label">Log In</span></div>
                    <div style="position: relative; float: right;">
                        For New User|<a href="Register" title="Register Here"><span style="color: #DD4B39;
                            font-weight: bold">Register.</span></a>
                    </div>
                </div>
            </div>
            <div class="divRow" style="width: 100%;">
                <span id="error_Message" class="msg-error"></span>
                <div class="divCell" style="width: 100%;">
                    <label>
                        <strong class="email-label">User Id :</strong>
                        <input type="text" name="UserName" id="UserName" class="lblinput" />
                        <span id="error_MLoginRightsUserID" class="msg-error"></span>
                    </label>
                </div>
            </div>
            <div class="divRow" style="width: 100%; height: 5px;">
                <div class="divCell" style="width: 100%;">
                    <label>
                        <strong class="email-label">Password : </strong>
                        <input type="password" name="Password" class="lblinput" id="Password" />
                        <span id="error_MLoginRightsPassword" class="msg-error"></span>
                    </label>
                </div>
            </div>
            <div class="divRow" style="height: 50px;">
                <div class="divCell" style="width: 23%;">
                    <input type="submit" class="e-button e-button-submit" name="signIn" id="signIn" value="Sign In >>"
                        title="Sign In" />
                </div>
                <div class="divCell" style="position: relative; left: 15%; top: 10px;">
                    <a href="#" title="Forget Password"><span style="color: #87877D; font-size: 13px;
                        text-decoration: underline;">Forget Password ?</span></a>
                </div>
            </div>
        </div>
        </form>
    </div>
    <div class="roundedBot">
        <img src="@Url.Content("~/Content/Images/roundbotLft.png")" alt="" class="fl" />
        <img src="@Url.Content("~/Content/Images/roundbotRght.png")" alt="" class="fr" />
    </div>
</div>
<div class="cl">
</div>
