@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Inner.cshtml";
}
<div>
    <h1>
        F.A.Q</h1>
</div>
<div>
    <h2>
        Products</h2>
    <p>
        Why does your Small size start with 6 weeks?
        <br />
        We recommend that during the first 6 weeks you swaddle your baby or use a romper
        or sleep suit. However we realize that each baby is unique in its personality and
        in its size. That is why we have placed extra information on sizing in our product
        description. Just make sure that the armholes and the neck opening are not too wide
        for your baby. If you have any sizing questions please do not hesitate to contact
        us at info@hushpuresleep.com
    </p>
    <p>
        Why do you only have sleep sacks available?
        <br />
        We are a start up company. Our first goal is to bring the softest sleep sack ever
        to the United States. But don’t worry other products will follow soon. And of course
        they will have the same distinctive European design and the gorgeous softness.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Quality and care</h2>
    <p>
        What is the fabric you use?
        <br />
        We use gorgeously soft Pima cotton. It is considered to be one of the superior blends
        of cotton and is extremely durable and absorbent.
    </p>
    <p>
        Are all your fabrics organic?
        <br />
        Yes. We believe that organic fabric is the future. Better for us, better for our
        children and better for the following generations.
    </p>
    <p>
        Why organic cotton?
        <br />
        Organic cotton contains no chemicals that could be harmful for a small developing
        baby. It is pure and better for sensitive skin. Do we need to say more.
    </p>
    <p>
        How should I wash my sleep sack?
        <br />
        Our sleep sack is machine washable. Use the gentle or delicate cycle with lukewarm
        water. We recommend the use of non-phosphate soap. Line dry, or tumble dry at a
        low temperature.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Sustainable</h2>
    <p>
        Where are your products made?
        <br />
        Our first batch was made in Europe. However our aim is to have the smallest footprint
        possible. Which means that products sold in the United States will be made in the
        USA.
    </p>
    <p>
        Are you a sustainable company?
        <br />
        We try to be. The world we live in today asks us to consider the wellbeing of the
        planet and her people. Unfortunately, quality and sustainability do not yet always
        go hand in hand. At the moment not all our production partners are sustainable.
        Hopefully, as more and more companies become environmentally conscious, we will
        be able to be 100% sustainable in the future.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Shipping and returns</h2>
    <p>
        How is my order shipped?
        <br />
        Within 1-3 working days your order is shipped from our distribution hub in California.
        Upon placing an order you will receive a confirmation email with a tracking number
        of your package.
    </p>
    <p>
        What are your shipping fees?
        <br />
        We have no shipping fees. We are happy that you are buying our products.
    </p>
    <p>
        Can the shipping address be different to the credit card billing address?
        <br />
        Yes of course. We want to make shopping with us as easy as possible for you. We
        understand you may want to send our product as a gift. Please tick the box at check
        out that states shipping address is different as billing address.
    </p>
    <p>
        What is your return policy?
        <br />
        Our return fees are zero. Of course we want you to be happy with our product. If
        for any reason you are not, please do let us know and use the return form included
        in your package.
    </p>
    <p>
        How should I return your product?
        <br />
        Included in your package is a return form. Please fill that out and let our shipping
        company pick up your package. We do ask you to only return unused products.
    </p>
    <p>
        Within how many days should I return your product?
        <br />
        We do ask you to return our product within 14 days upon receiving.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Is your website secure?</h2>
    <p>
        Yes. Our payment provider is compliant with all the latest online payment requirements.</p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        What happens to my contact information?</h2>
    <p>
        Your contact information is not shared with third parties and is only used by us
        to fulfill your order. If you want to be kept informed about our new products tick
        the box when entering your order details.</p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Sales tax</h2>
    <p>
        We collect sales tax on all purchases in the state of California. A package sent
        to an address in California will be taxed at the current sales tax rate. For packages
        shipped to addresses outside of California, no sales tax will be collected.
        <br />
        If you do not find your question mentioned above, please email us at info@hushpuresleep.com
    </p>
</div>