@{
    ViewBag.Title = "Claudia";
    Layout = "~/Views/Shared/_Inner.cshtml";
}
<div>
    <h1>
        Claudia - Founder of Hush Pure Sleep</h1>
</div>
<div class="cl">
</div>
<div>
    <p>
        Claudia Maarschalkerweerd is a mom on a mission. She is on a quest to provide the
        safest sleep products for babies, produced in the softest fabrics nature has to
        offer us.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        From working mom…
    </h2>
    <p>
        As a happily married mother of three, Claudia loved combining a career in law and
        diplomacy with motherhood. She greatly enjoyed her time working as a Dutch diplomat
        in Ghana responsible for all things related to doing business in Ghana. It was there
        that she discovered her knack for doing business.
    </p>
    <p>
        Upon her return to the Netherlands, Claudia chose to take a break from her career
        so she could focus more on her children. But over a glass of wine with friends from
        the United States, her entrepreneurial spark was suddenly ignited.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        … to passionate entrepreneur.
    </h2>
    <p>
        Talking to her friends about safe sleep practices for babies, Claudia was surprised
        to learn that the sleep sack was not commonly used in the United States. All her
        children had been happiest sleeping in one. Snuggling comfortably in a safe wearable
        blanket they couldn’t kick off, they had slept soundly and safely through the night.
    </p>
    <p>
        Wouldn’t it be great if more moms could enjoy the same peace of mind? A business
        idea was born…
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Surrounding babies with softness
    </h2>
    <p>
        The more Claudia thought about bringing sleep products for babies and children overseas,
        the more she wanted to provide the softest, safest, most luxurious sleep products
        ever. Claudia started working with designers on the designs and went as far as Peru
        to find the fabric she wanted. When she felt the luxurious softness of organic Pima
        cotton, she knew it was time to launch Hush Pure Sleep.
    </p>
</div>
