<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueryDigestSecretSalt" value="H3#@*ALMLLlk31q4l1ncL#@..."/>
    <add key="QueryStringEncryptionSalt" value="!#$a54?3"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>