@{
    ViewBag.Title = "TermsAndConditions";
    Layout = "~/Views/Shared/_Inner.cshtml";
}
<div>
    <h1>
        Terms & Conditions</h1>
</div>
<div class="cl">
</div>
<div>
    <h2>
        General</h2>
    <p>
        The following are the terms of use that govern the www.hushpuresleep.com website
        (the “Site”). Your use of the Site constitutes your agreement to these terms. Hush
        Pure Sleep is a brand of Hush Pure (“Hush Pure”). Hush Pure reserves the right to
        revise these terms and conditions. We will post any changes here as they are made.
        Because your use of the Site following any changes constitutes your agreement to
        be bound by any changes, you may wish to check this section periodically.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Site Content
    </h2>
    <p>
        Unless otherwise noted, all materials, including images, illustrations, designs,
        icons, photographs, video clips, and written and other materials that appear as
        part of the Site (collectively, the “Contents”) are copyrights, trademarks, trade
        dress and/or other intellectual properties owned, controlled or licensed by Hush
        Pure. The Site as a whole is protected by copyright and trade dress and all worldwide
        rights, titles and interests in and to the Site are owned by Hush Pure. All other
        Hush Pure trademarks appearing on this Site are trademarks of Hush Pure.
    </p>
    <p>
        The Contents of the Site, and the Site as a whole, are solely for personal, non-commercial
        (other than for the purchase of merchandise from the Site) use by the users of the
        Site. You may download or copy the Contents and other downloadable materials displayed
        on the Site only for your personal use. No right, title or interest in any downloaded
        materials or software is given to you as a result of any such downloading or copying.
        You may not reproduce (except as noted above), publish, transmit, distribute, display,
        modify, create derivative works from, sell or participate in any sale of, or exploit
        in any way, in whole or in part, any of the Contents, the Site, or any related software.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Product Information
    </h2>
    <p>
        The prices displayed on the Site are quoted in U.S. Dollars and are valid and effective
        only in the United States for purchases made through the Site.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Design Protection
    </h2>
    <p>
        No rights in the design of Hush Pure’ products, or designs incorporated in such
        products, shall pass to you except as an integral part of products purchased by
        you. You agree not to copy or reproduce, or cause to be copied or reproduced, either
        directly or indirectly, Hush Pure’ products, product designs, designs incorporated
        in such products, or product packaging. This Design Protection provision shall survive
        termination of this Agreement.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Colors
    </h2>
    <p>
        We have made every effort to display the colors of our products that appear on the
        Site as accurately as possible. Because the actual colors you see will depend on
        your monitor, we cannot guarantee that your monitor’s display of any color will
        be accurate.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Comments and Submissions
    </h2>
    <p>
        All comments, feedback, suggestions, ideas, and other submissions offered or submitted
        to Hush Pure in connection with your use of this Site (collectively, “Comments”)
        shall be Hush Pure’ property. Such offer or submission of any Comments constitutes
        an assignment to Hush Pure BV of all worldwide rights, titles and interests in all
        copyrights and other intellectual properties in the Comments. Hush Pure is under
        no obligation to: (1) maintain any Comments in confidence; (2) pay you any compensation
        for any Comments; or (3) respond to any Comments.
    </p>
    <p>
        You agree that Comments submitted by you will not violate any right of any third
        party, including copyright, trademark, privacy or other personal or proprietary
        right(s). You further agree that Comments submitted by you will not be or contain
        libelous or otherwise unlawful, abusive or obscene material. You are and shall remain
        solely responsible for the content of any Comments you make.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Privacy Policy
    </h2>
    <p>
        You agree that Hush Pure may use and/or disclose information consistent with our
        Privacy Policy.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Indemnification
    </h2>
    <p>
        You agree to defend, indemnify and hold Hush Pure harmless from and against any
        and all claims, damages, costs and expenses, including attorneys' fees, arising
        from or related to your use of the Site.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Links to Other Web Sites
    </h2>
    <p>
        To the extent that this Site contains links to services and resources not within
        Hush Pure’s control (“Third-Party Sources”), any claims or concerns regarding any
        Third-Party Sources, or any link thereto, should be directed to the particular Third-Party
        Source. You agree that Hush Pure shall not be liable to you for your use of any
        Third-Party Sources.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Disclaimer
    </h2>
    <h2>
        IN NO EVENT SHALL HUSH PURE BV OR ANY OF ITS AFFILIATED ENTITIES, SUPPLIERS OR RETAILERS
        BE LIABLE FOR ANY INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL
        DAMAGES, EVEN IF HUSH PURE HAS BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH
        DAMAGES, WHETHER IN AN ACTION, UNDER CONTRACT, NEGLIGENCE OR ANY OTHER THEORY, ARISING
        OUT OF OR IN CONNECTION WITH THE USE, INABILITY TO USE OR PERFORMANCE OF THE INFORMATION,
        SERVICES, PRODUCTS AND MATERIALS AVAILABLE FROM THE SITE. THESE LIMITATIONS SHALL
        APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OR THE EXISTENCE OF ANY LIMITED
        REMEDY. BECAUSE SOME JURISDICTIONS DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED
        WARRANTY LASTS, OR THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR
        INCIDENTAL DAMAGES, THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
    </h2>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Inaccuracy Disclaimer
    </h2>
    <p>
        From time to time there may be information on this Site that contains typographical
        errors, inaccuracies, or omissions that may relate to product descriptions, pricing,
        and availability. We reserve the right to correct any errors, inaccuracies or omissions
        and to change or update information at any time without prior notice (including
        after you have submitted your order). We apologize for any inconvenience this may
        cause you.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Miscellaneous
    </h2>
    <p>
        Unless otherwise specified and except to the extent Hush Pure products are offered
        for sale in the United States through this Site, this Site and its Contents are
        displayed solely for the purpose of promoting Hush Pure’s products available in
        the United States and in future in select foreign markets. This Site is controlled
        and operated by Hush Pure from its offices in the Netherlands.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Choice of Law and Venue
    </h2>
    <p>
        This Agreement shall be governed by, construed and enforced in accordance with the
        laws of the Netherlands, without giving effect to any conflict of law provisions.
        Any dispute arising under this Agreement shall be resolved exclusively before the
        appropriate court in the Netherlands.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Third-Party Trademarks
    </h2>
    <p>
        Third-party trademarks, trade names, product names and logos, contained in this
        website may be the trademarks or registered trademarks of their respective owners.
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Notices for Reporting and Making Claims of Copyright Infringement
    </h2>
    <p>
        Please send any concerns regarding our products or services to info@test.com
    </p>
</div>
<div class="cl">
</div>
<div>
    <h2>
        Termination
    </h2>
    <p>
        This Agreement is effective unless and until terminated by either you or Hush Pure.
        You may terminate this Agreement at any time after which time you agree that you
        shall not access the Site. Hush Pure may terminate this Agreement at any time, may
        do so immediately, without notice, and may deny you access to the Site.
    </p>
</div>
