@model IEnumerable<BabyShop.Models.ProductCartModel>
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Inner.cshtml";
    
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#jqTable").jqGrid({
            url: '@Url.Action("LoadProductsFromCart", "Shop")',
            datatype: "json",
            mtype: "POST",
            edit: true,
            add: false,
            del: true,
            colNames: ["Item", "Description", "Quantity", "unit Price", "Price"],
            colModel: [
            { name: 'ImageURL', index: 'ImageURL', width: 95, align: 'center', formatter: imageFormatter },
            { name: 'CategoryName', index: 'CategoryName', width: 80, align: 'left', sortable: true },
            { name: 'Quantity', index: 'Quantity', width: 40, align: 'left', sortable: true },
            { name: 'UnitPrice', index: 'UnitPrice', width: 40, align: 'left', sortable: true },
            { name: 'Price', index: 'Price', width: 40, align: 'left', sortable: true }
            ],
            width: 650,

            rowNum: 99999,
            sortname: "Id",
            sortorder: "asc"
        });

        function imageFormatter(cellvalue, options, rowObject) {
            var imgPath = "../Content/Images/" + cellvalue;
            var returnValue = "<img src='" + imgPath + "' alt ='" + cellvalue + "' width='80px' height='60px' />";
            return returnValue;
        }

    });
</script>
<div>
    <table id="jqTable" class="scroll">
    </table>
    <div id="jqTablePager" />
</div>
<div class="divTable" style="width: 95%">
    <div class="divHeaderRow" style="width: 100%; border-bottom: 2px solid black;">
        <span style="font-size: 25px; color: #000000; font-weight: bold;">Shopping Cart</span>
    </div>
    <div class="divRow">
        <div class="lstView">
        </div>
    </div>
    <div class="divRow">
        <div class="cntShopng fl">
            <a href="../Product/Product" title="Continue Shopping">Continue Shopping</a></div>
        <div class="fr">
            <a href="../Home/Login" title="Check out">
                <img src="@Url.Content("~/Content/Bottom/checkout.png")" alt="Check Out" /></a></div>
        <div class="cl">
        </div>
    </div>
</div>
