@{
    ViewBag.Title = "TermCondition";
    Layout = "~/Views/Shared/_Inner.cshtml";
}
<div class="inner-section">
    <div class="roundedTop">
        <img src="@Url.Content("~/Content/Images/roundtopLft.png")" alt="" class="fl" />
        <img src="@Url.Content("~/Content/Images/roundtopRght.png")" alt="" class="fr" />
    </div>
    <div class="roundedBg">
        <table class="BoxTable" cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td class="BoxHeader" align="left">
                    Terms And Condition
                </td>
            </tr>
            <tr>
                <td class="FormDetailCell">
                    <br />
                    <br />
                    <strong>Conditions of Use:</strong>
                    <br />
                    <br />
                    The <strong>Baby Shopping</strong> and its associates provide their services to
                    you subject to the following conditions. If you visit or shop within this website,
                    you accept these conditions. Please read them carefully.
                    <br />
                    <br />
                    <strong>Terms and Conditions </strong>
                    <br />
                    <br />
                    1. As we ship internationally and all these are treated as commercial shipments,
                    each shipment will be charged a Customs Duty by the government of the destination
                    country. The rules and rates related to Customs Duty vary widely from country to
                    country and it not possible for us to predict or control those. It is responsibility
                    of the customer to pay the all import duties and taxes for the shipment at the place
                    of respective destination. <strong>Baby Shopping</strong> will not be responsible
                    for any such duties and Taxes applied at the time of the import of the shipment.
                    Also it is the customer’s responsibility to produce the necessary documents to clear
                    the shipment at the time of import.
                    <br />
                    <br />
                    <br />
                    <br />
                    2. <strong>Baby Shopping</strong> will not ship any of the order unless and until
                    the full payment will get deposited to our bank account.
                </td>
            </tr>
            <tr>
                <td class="AbowLine">
                </td>
            </tr>
            <tr>
                <td class="CellLine">
                </td>
            </tr>
            <tr>
                <td class="BelowLine">
                </td>
            </tr>
            <tr>
                <td class="BoxFooterLeft">
                </td>
            </tr>
        </table>
    </div>
    <div class="roundedBot">
        <img src="@Url.Content("~/Content/Images/roundbotLft.png")" alt="" class="fl" />
        <img src="@Url.Content("~/Content/Images/roundbotRght.png")" alt="" class="fr" />
    </div>
</div>
<div class="cl">
</div>
